.SKOrienting{
    border: #A41704 solid 5px;
    border-Radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    color: black;
    background: linear-gradient(to right, rgb(230 48 22) 0px, rgb(233 98 42) 100%);
}

.SKBeginning{
    border: rgb(217 131 3) solid 5px;
    border-Radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    color: black;
    background: linear-gradient(to right,#ffa400 0,#ffd100 100%);
}

.SKProficient{
    border: #007900 solid 5px;
    border-Radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    color: black;
    background: linear-gradient(to right, rgb(26 163 6) 0px, rgb(3 247 125) 100%);
}

.SKAdvanced{
    border: rgb(2 141 139) solid 5px;
    border-Radius: 50%;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    color: black;
    background: linear-gradient(to right, rgb(20 157 154) 0px, rgb(6 237 232) 100%);
}