.SKOrienting, .SKBeginning, .SKProficient, .SKAdvanced{
    border-Radius: 50%;
    align-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: min-content;
    height: min-content;
    min-height: 75px;
    min-width: 75px;
    padding: 10px;
    display: inline-block;
    color: black;
}

.SKOrienting{
    border: #A41704 solid 5px;
    background: linear-gradient(to right, rgb(230 48 22) 0px, rgb(233 98 42) 100%);
}

.SKBeginning{
    border: rgb(217 131 3) solid 5px;
    background: linear-gradient(to right,rgb(255 164 0) 0, rgb(255 209 0) 100%);
}

.SKProficient{
    border: #007900 solid 5px;
    background: linear-gradient(to right, rgb(26 163 6) 0px, rgb(3 247 125) 100%);
}

.SKAdvanced{
    border: rgb(2 141 139) solid 5px;
    background: linear-gradient(to right, rgb(20 157 154) 0px, rgb(6 237 232) 100%);
}